ion-tab-bar {
	--background: #ffffff;
	--color: #999999;
	--color-selected: var(--ion-color-primary);
	border-top: none;
	box-shadow: 0 -4px 20px rgba(0,0,0,0.05);
}

ion-tab-button {
	--ripple-color: var(--ion-color-primary);
}



