.db-state {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.75rem;
	min-height: 160px;
}

.timestamp {
	margin-top: 0.25rem;
	font-size: 0.75rem;
	color: var(--ion-color-medium-shade);
}
